<!--
Inspired by http://dribbble.com/shots/917819-iPad-Calendar-Login?list=shots&sort=views&timeframe=ever&offset=461
-->
<div class="jumbotron">
  <div class="container">
    <form class="box" name="loginForm" novalidate>
        <input data-ng-model="ctrl.usr" required type="text" placeholder="username">
	    <input data-ng-model="ctrl.psw" required type="password" placeholder="password">
	    <button class="btn btn-default full-width" data-ng-click="ctrl.register(loginForm.$valid);"><span class="glyphicon glyphicon-user"></span></button>
	    <button class="btn btn-default full-width" data-ng-click="ctrl.login(loginForm.$valid);"><span class="glyphicon glyphicon-log-in"></span></button>
    </form>
  </div>
</div>