
.alarm-setter {
	table {
		margin-bottom: 15px;
	}
	
	tr.text-center {
	 	display: none;
	}

	.form-group input {
		margin: 0;
	}

	.btn-primary {
		margin-bottom: 10px;
	}

	.error {
		border-bottom: 1px solid red;
	}

	.description {
		width: 100%;
		margin-bottom: 1.4rem;
		padding: 1rem;
		background-color: #ecf2f4;
		border-radius: 0.2rem;
		border: none;
	}
}