// Theme: Warm 

@charset "UTF-8";
 
// Colors
$border-color: #D8D8D8;
$border-color-expanded: #2196F3;
$close-btn-color: #2196F3;
$close-btn-color-hover: #F44336;
$header-color: #2196F3;
$header-color-hover: #2196F3;

.cold {
	.vAccordion--default {
	  v-pane.is-expanded > v-pane-header {
	    border-bottom-color: $border-color-expanded;
	  }
	  v-pane-header {
	    border-bottom: 2px solid #ccc;
	    &::after, &::before {
	      background-color: $header-color;
	    }
	    &:hover, &:focus {
	      color: $header-color-hover;
	    }
	  }
	}

	.vModal--default v-close {
	  &::after, &::before {
	    background-color: $close-btn-color;
	  }
	  &:hover {
	    &::after, &::before {
	      background-color: $close-btn-color-hover;
	    }
	  }
	  &:focus {
	    &::after, &::before {
	      background-color: $close-btn-color-hover;
	    }
	  }
	}
}
