<form name="alarmForm" class="alarm-setter">
	<input name="description" placeholder="Description" type="text" class="description" data-ng-class="{ error: alarmForm.$submitted && alarmForm.description.$invalid }" data-ng-model="ctrl.alarmName" required />
	<timepicker ng-model="ctrl.alarmTime" hour-step="1" minute-step="15" show-meridian="true"></timepicker>

	<input type="submit" class="btn btn-primary" data-ng-click="ctrl.setAlarmWeekdays(alarmForm.$valid);" value="Weekdays"></input>
	<input type="submit" class="btn btn-primary" data-ng-click="ctrl.setAlarmWeekends(alarmForm.$valid);" value="Weekend"></input>
</form>